<AuthorizeView>
    <Authorized>
        <a class="btn btn-sm btn-primary" href="AzureAD/Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-sm btn-primary" href="AzureAD/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>
