@inherits LayoutComponentBase

    <BlazoredToasts 
                    Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
                    ErrorClass="ToastZ"
                    SuccessClass="ToastZ"
                    WarningClass="ToastZ"
                    Timeout="1"
                    RemoveToastsOnNavigation="true"
                    />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    @*<div class="top-row px-4 auth">
        <LoginDisplay />
    </div>*@

    <div class="content px-4">
        @Body
    </div>
</div>
