@using _5Straight.Data
@inject GameManager GameManager
@inject NavigationManager NavigationManager

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">5Straight</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li>
            <h4 class="five-nav-headers">Open Games</h4>
        </li>
        @{
            foreach (var game in GameManager.Games)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="() => DirectToGame(game.Value.GameState.PartitionKey)">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> @game.Value.GameName
                    </NavLink>
                </li>
            }
        }
        <li>
            <h4 class="five-nav-headers">Your Live Games</h4>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    // Game Menu

    public void DirectToGame(string gameId)
    {
        NavigationManager.NavigateTo($"GameBoard/{gameId}");
    }

    protected override void OnInitialized()
    {


    }
}
